.nav-glyphish .ui-btn .ui-btn-inner {
    padding-top: 40px !important;
}
.nav-glyphish .ui-btn .ui-icon {
    width: 30px!important;
    height: 30px!important;
    margin-left: -15px !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.nav-glyphish .welcome .ui-icon {
    background-size: 26px 26px;
    background: url(../icons/28-star.png) 50% 50% no-repeat;
}

.nav-glyphish .firstname .ui-icon {
    background-size: 24px 21px;
    background: url(../icons/111-user.png) 50% 50% no-repeat;
}

.nav-glyphish .lastname .ui-icon {
    background-size: 32px 21px;
    background: url(../icons/112-group.png) 50% 50% no-repeat;
}
